button {
    border-radius: 40px;
    border: none;
    background-color: red;
    font-family: cursive;
    color: #fff;
    padding: 10px 24px;
    font-size: 20px;
    margin-left: 1000px;
    margin-bottom: 30px;
    margin-top: -20px;
}
  
button:hover {
  transition: 200ms;
  transform: scale(1.1);
}
  
button:focus {
  outline: #000;
}
  
nav {
  color: rgb(18, 223, 238);
  background-attachment: fixed;
  background-color: #000;
}
  
.loader {
  margin: 0 auto;
}
  
.avatar {
  border-radius: 90px;
  margin-bottom: 10px;
}
  
#main {
  padding: 15px 50px;
  margin: 20px auto;
 
  display: none;
}
  
#main img {
  animation-delay: 5s;
}
  
.profile {
  max-width: 300px;
  margin: 10px 10px;
  text-align: center;
  font-family: cursive;
  padding: 15px;
 
 border-style: solid;
  border-radius: 20px;
  background:#fff;
}
  
.profile:hover {
  transition: 100ms;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.6);
  background: rgb(231, 248, 74);
  transform: translateY(-10px);
}
  
.name {
  font-family: cursive;
  font-style: italic;
  font-variant: small-caps;
  color: rgb(5, 15, 1);
  font-size: 20px;
  font-weight: bold;
}  
.email {
  background-color:red;
  color: #fff;
  font-family: cursive;
  font-size: 18px;
  overflow-wrap: break-word;
}
